/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
    --main-bg-color: rgb(53, 110, 56);
    /* Tu color personalizado */
}

/* Clase exclusiva para un componente */
.custom-content {
    --ion-background-color: #ffffff;
    /* Aplica solo a este componente */
    min-height: 100vh;
    /* Altura completa */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* filepath: /src/theme/variables.css */
:root {
    --ion-background-color: #1E1E1E;
    --ion-text-color: #FFFFFF;
    /* Cambia el color del texto si es necesario */
}

/* Clase personalizada para esta página */
.page-with-background {
    background: url('../img/fondotelefono.png') no-repeat center center fixed;
    background-size: cover;
    --ion-background-color: transparent; /* Opcional: Evita que el tema global sobrescriba */
  }

  .dropDownColore {
    --color: '#FFFFFF';
    --placeholder-color: '#FFFFFF';
    --ion-text-color: '#FFFFFF';
    --ion-background-color: '#333333'; 
    --ion-background-color: transparent; /* Opcional: Evita que el tema global sobrescriba */
  }
  
  /* Archivo: variables.css o un CSS global */
.custom-green-button {
    --background: linear-gradient(45deg, #79A637, #79A637) !important;
    --background-activated: #5e8c2a !important; /* Color al hacer clic */
    --box-shadow: none !important; /* Elimina las sombras */
    --border-radius: 40px;
    --padding: 10px 20px;
    color: white !important;
    font-weight: bold;
  }

  .custom-orange-button {
    --background: linear-gradient(45deg, #f36b00, #f36b00) !important;
    --background-activated: #f36b00 !important; /* Color al hacer clic */
    --box-shadow: none !important; /* Elimina las sombras */
    --border-radius: 40px;
    --padding: 10px 20px;
    color: white !important;
    font-weight: bold;
  }

  .custom-purple-button {
    --background: linear-gradient(45deg, #8500BC, #8500BC) !important;
    --background-activated: #8500BC !important; /* Color al hacer clic */
    --box-shadow: none !important; /* Elimina las sombras */
    --border-radius: 40px;
    --padding: 10px 20px;
    color: white !important;
    font-weight: bold;
  }
  
  .custom-greenBlue-button {
    --background: linear-gradient(45deg, #1DA6AD, #1DA6AD) !important;
    --background-activated: #1DA6AD !important; /* Color al hacer clic */
    --box-shadow: none !important; /* Elimina las sombras */
    --border-radius: 40px;
    --padding: 10px 20px;
    color: white !important;
    font-weight: bold;
  }