/* filepath: /C:/Users/danie/OneDrive/Documentos/UNIVERSIDAD/AyuviAppIonic/src/pages/Home.css */
.welcome-heading {
    color: #ffffff;
    /* Color del texto */
    font-size: 24px;
    /* Tamaño de la fuente */
    text-align: center;
    /* Alineación del texto */
    margin: 20px 0;
    /* Margen superior e inferior */
}