/* Contenedor principal del login */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Asegura que ocupe toda la pantalla */
    padding: 20px;
    background: #1E1E1E;
    border-radius: 15px;
    box-shadow: 0 1px 15px rgb(0, 68, 255);
    transition: margin-bottom 0.3s ease-in-out;
    box-sizing: border-box;
}

/* Estilos para elementos ion-item dentro del contenedor de login */
.login-container ion-item {
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Estilos para botones dentro del contenedor de login */
/* .login-container ion-button {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    font-size: 16px; /* Asegurar que la fuente sea grande */
    /* padding: 12px; */
/* } */

/* Ajustar el comportamiento de los inputs y botones */
.custom-input, .password-input, .login-container ion-button {
    font-size: 18px;
    max-width: 400px;
    width: 100%;
}

/* Estilos para iconos dentro del contenedor de login */
.login-container ion-icon {
    cursor: pointer;
}

/* Estilos personalizados para el input */
/* .custom-input {
    --color: #000000;
    --placeholder-color: #ffffff;
    text-align: center; /* Centrar el texto dentro del input */
/* } */

/* Asegurar el tamaño de los inputs */
/* .custom-input, .password-input { */
    /* font-size: 18px; Ajustar según lo que consideres óptimo */
    /* padding: 15px; Mayor padding para hacerlo más grande */
    /* width: 100%; */
    /* max-width: 400px; */
    /* box-sizing: border-box; */
    /* text-align: left; Para alinearlo a la izquierda */
/* } */

/* Estilos personalizados para el item */
.custom-item {
    --background: #E8E8E8;
    margin-bottom: 15px;
    border-radius: 10px;
}

/* Estilos para las etiquetas de usuario y contraseña */
.usuario-label,
.contrasenia-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center; /* Centrar el texto de las etiquetas */
}

/* Ajustes específicos para el item de contraseña */
.password-item ion-label {
    padding-block: 0;
}

.password-item ion-input {
    padding-left: 0;
    padding-right: 80%;
}

/* Estilos para el icono de toggle de contraseña */
.password-toggle-icon {
    position: absolute;
    right: 2%;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #000000;
}

/* Estilos para la imagen del logo */
/* .logo {
    width: 300px;
    margin-bottom: 20px;
} */

/* Evitar el cambio de tamaño del logo */
.logo {
    width: 80%; /* Mantener responsive */
    max-width: 300px;
    margin-bottom: 20px;
    transition: transform 0.3s ease; /* Suave desplazamiento */
}

.container {
    display: grid; /* Activa grid */
    justify-content: center; /* Centra horizontalmente */
    align-items: flex-start;
}

.logoaspirante {
    width: 150%; /* Mantener responsive */
    max-width: 300px;
    margin-bottom: 20px;
    transition: transform 0.3s ease; /* Suave desplazamiento */
}

/* Estilos para margenes inferiores */
.ion-margin-bottom {
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
}

/* Estilos para el padding del contenedor principal */
.ion-padding {
    background-color: #000000;
}

/* Estilos para centrar texto */
.text-center {
    text-align: center;
}

/* Ajustes adicionales para el item personalizado */
.custom-item ion-label {
    margin-bottom: 10px;
}

.custom-item ion-input {
    margin-top: 10px;
}

/* Estilos para el input de contraseña */
/* .password-input {
    --color: #000000;
    --placeholder-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

body.keyboard-visible .login-container {
    margin-bottom: 150px; /* Ajusta el valor según sea necesario */

.button-login {
    background-color: #017BD4;
}