/* filepath: /src/App.css */
body {
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
}

.ion-page {
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
}

/* ion-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
} */

ion-content {
  margin-bottom: 56px; /* Espacio reservado para el footer */
}

/* ion-header {
  display: none; /* Oculta globalmente todos los encabezados
} */


.custom-modal {
  --width: 80%;
  --height: 50%;
  --border-radius: 10px;
  --background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
